<div class="card">
    <div class="card-body text-justify">
        <h5>
            <strong>Nombre</strong>
        </h5>
        <h6>{{firstName}} {{lastName}}</h6>

        <br>

        <h5>
            <strong>Biografia</strong>
        </h5>
        <p>{{biography}}</p>
    </div>
</div>

<br>

<div class="py-5">

    <h5><strong>HTML</strong></h5>
    <pre >
        <code [highlight]="htmlCode" ></code>
     </pre>
    
   
    <h5><strong>TS</strong></h5>
    <pre>
        <code [highlight]="tsCode"></code>
     </pre>
    
  
    <h5><strong>Componente Padre</strong></h5>
    <pre>
        <code [highlight]="fatherHtmlCode"></code>
     </pre>
</div>

