<div class="container py-5">
    <div class="row py-3">
        <div class="col-12 text-center">
            <h3>
                <strong>Curso de Angular - ITLA</strong>
            </h3>
        </div>
    </div>
    <div class="row py-3">
        <div class="col-md-3 py-1">
            <div class="card" style="cursor: pointer;" [routerLink]="['/homework/first-homework']">
                
                <div class="card-body">
                    <div class="text-center">
                            <h4>Tarea #1</h4>
                    </div>
                    <div class="text-justify">
                        <p>
                            <strong>
                                Actividad:
                            </strong>
                            
                            <br>
                            Crear tarjeta de presentación
                        </p>
                        <br>
                        <p>
                            <strong>
                                Objetivo:
                            </strong>
                            <br>
                            Utilización de la interpolación
                        </p>
                    </div>  
                </div>
            </div>
        </div>
        <div class="col-md-3 py-1">
            <div class="card" style="cursor: pointer;" [routerLink]="['/homework/second-homework']">
                <div class="card-body">
                    <div class="text-center">
                            <h4>Tarea #2</h4>
                    </div>
                    <div class="text-justify">
                        <p>
                            <strong>
                                Actividad:
                            </strong>
                            
                            <br>
                            Mostrar listado de personas
                        </p>
                        <br>
                        <p>
                            <strong>
                                Objetivo:
                            </strong>
                            <br>
                            Utilizar las directivas estructurales de Angular
                        </p>
                    </div>  
                </div>
            </div>
        </div>
    </div>
</div>