<div class="container py-5">
    <div class="row py-3">
        <div class="col-12 text-center">
            <h3>
                <strong>Tarea #1 - Presentación</strong>
            </h3>
        </div>
    </div>
    <div class="row py-3">
        <div class="col-12">
            <h4>
                <strong>Actividad:</strong>
            </h4>
            <p>Crear presentación con los datos: nombre, apellido y biografia corta (maximo 2 lineas).</p>
            
            <br>

            <h4>
                <strong>Objetivo:</strong>
            </h4>
            <p>Utilizar la interpolación de string aprendida en la segunda clase del curso.</p>
        </div>
        <hr>
        <div class="col-md-12 py-4">
            <h4><strong>Desarrollo</strong></h4>
            <br>
            <app-first-homework-body [firstName]="'Jofreylin'" [lastName]="'Perez Valdez'" [biography]="'Nació el 28 de Noviembre del 2000'" ></app-first-homework-body>
        </div>
    </div>
</div>